article {
  margin: 2em 2em;
}
.bg-white {
  background-color: #ffffff;
  padding: 2em;
}
.zoom {
  transition: transform 0.4s;
}
.zoom:hover {
  transform: scale(1.2);
}
.customfooter {
  background-color: #292828;
  margin-top: 0.1em;
}
.mt4 {
  margin-top: 10em;
}
.imagetext {
  position: relative;
  color: white;
  text-align: center;
  font-weight: 600;
  top: -25px;
  background: #1f1e1e;
  padding: 4px;
  display: block;
}
#estate-management div img {
  margin: 20px 0px;
}
.whatsapp-container {
    position: fixed;
    left: 3%;
    bottom: 20px;
    z-index: 9999;
}
.whatsapp-container img {
    max-height: 70px;
}
#partners div div img {
  margin: 1em 0px;
  display: inline-block;
  padding: 0px;
}

@media only screen and (min-width: 800px) {
  .bg-white {
    background-color: #ffffff;
    padding: 2em;
    height: 470px !important;
  }
}
